.cart-img {
  width: 65px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid sandybrown;
}
.delete-cart {
  background-color: #fff;
  color: #d63031;
  border-radius: 50%;
  border: none;
  transition: 0.5s ease-in-out;
}

.delete-cart:hover {
  transform: scale(1.3);
}
@media only screen and (max-width: 600px) {
  .cart {
    display: flex !important;
  }
  .cart-img {
    width: 80px;
  }
}
