.products-box {
  display: grid;
  grid-template-columns: 3.7fr 1fr;
  gap: 20px;
}
.cart-container {
  background-color: bisque;
  margin-top: 25px;
  height: 80vh;
  border-radius: 10px;
  overflow-y: scroll;
  position: sticky;
  top: 0;
}
.cart-title {
  font-family: "Ramaraja", serif;
}
.clean-cart {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .products-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cart-container {
    position: relative;
  }
}
