.product {
  background-color: #c4c4c4;
  height: 570px;
  width: 320px;
  padding: 15px;
  position: relative;
  justify-self: center;
  clip-path: polygon(15% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 10%);
}
.product-img {
  width: 290px;
  height: 340px;
  background-color: #fff;
  padding: 20px;
  clip-path: polygon(15% 0%, 100% 0, 100% 86%, 85% 100%, 0 100%, 0% 16%);
}
.image-container {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product-info {
  margin: 20px 0;
  height: calc(100% - 420px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-info h3 {
  font-family: "Ramaraja", serif;
}
.brand {
  color: #91672c;
  font-weight: bold;
}

.add-cart-btn {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  width: 180px;
  height: 48px;
  background-color: #91672c;
  border: none;
  border-radius: 50px;
  color: #dfdddd;
  align-items: center;
  margin: 0 auto;
  box-shadow: 4px 5px 10px #91672c;
  transition: 0.5s ease-in-out;
}
.add-cart-btn:hover {
  box-shadow: none;
}
